.nav {
  display: flex; /* 確保 nav 是 flex 佈局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 88px; /* 設定高度 */
  background: var(--nav-bg);
  width: 100%;
  position: fixed;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.nav__wrapper {
  display: flex; /* 確保內部元素也使用 flex */
  justify-content: space-between; /* 根據需要調整內部項目的分佈 */
  align-items: center; /* 保證內部元素垂直居中 */
  width: 100%;
}

.nav__logo {
  font-size: 1.5rem;
  font-family: "Microsoft JhengHei", sans-serif;
}
.nav__menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__menu-items {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.nav__menu-items a::before {
  content: "";

  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: transparent;
  width: 100%;
  transition: all 0.5s ease-in;
}

.nav__menu-items a:hover {
  color: var(--special-text);
}

.switch {
  display: flex;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  top: 5px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px 50px 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* 菜單的顯示隱藏，使用 opacity 控制 */
  .nav__menu {
    display: block;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    align-items: flex-start;
    margin-top: 10px;
    opacity: 0; /* 默認隱藏 */
    pointer-events: none; /* 防止菜單顯示時點擊 */
    transition: opacity 0.4s ease;
  }

  /* 顯示菜單時，透明度變為 1 */
  .nav__menu.mobile-menu-open {
    opacity: 1;
    pointer-events: auto; /* 使菜單項目可點擊 */
    display: flex;
  }

  /* 菜單項目 */
  .nav__menu-items {
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
  }
}
